.contact {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.contact-mail {
    font-size: 1.5rem;
    padding: 1rem;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    border-radius: .2rem;
    margin-bottom: 1rem;
}

.contact-mail-link{
    background-color: #ffffff;
    color: #000000;
    font-size: 2rem;
    padding: 1rem;
    text-decoration: none;

}

.contact-mail-link img{
   transform: scale(1.7);
   margin-left: 1rem;
   margin-right: 1rem;
    
}

.contact-mail-link a{
    background-color: #ffffff;
    color: #000000;
    font-size: 2rem;
    text-decoration: none;
}

.caviat {
    font-size: 1rem;
}

.contact-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.github, .linkedin {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    color: #000000;
    justify-content: center;
    align-content: center;
    padding: 2rem;
    border-radius: .2rem;
}

.github a, .linkedin a{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    width: max-content;
    min-width: 7rem;
    min-height: 7rem;
    text-align: center;
}

@media screen and (max-width: 800px){

    .contact-links {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .github, .linkedin {
        margin-top: 1rem;
        width:fit-content;

    }

    .contact-mail-link a{
        font-size: 1rem;
    }

    

}